.forms {
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 700px;
  margin-top: 250px;
  max-height: 100%;
  width: 19%;
}

.enableBtn {
  background-color: green;
  color: white;
  cursor: pointer;
  margin: 8px 0;
  opacity: 0.9;
  padding: 16px 20px;
  width: 100px;
}

.disableBtn {
  background-color: #b0dab1;
  color: white;
  cursor: not-allowed;
  margin: 8px 0;
  opacity: 2;
  padding: 16px 20px;
  width: 100px;
}

input {
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
}
