body {
  background-color: bisque;
}

.forms {
  display: flex;
  max-height: 100%;
  align-items: center;
  flex-direction: column;
  width: 19%;
  justify-content: center;
  border: 2px solid black;
  margin-top: 250px;
  border-radius: 10px;
  margin-left: 700px;
}

.enableBtn {
  background-color: green;
  color: white;
  margin: 8px 0;
  cursor: pointer;
  padding: 16px 20px;
  opacity: 0.9;
  width: 100px;
}

.disableBtn {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin: 8px 0;
  padding: 16px 20px;
  opacity: 0.9;
  width: 100px;
}
